﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
}

/* Set widths on the form inputs since otherwise they're 100% wide */


.img-rounded{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 256px;
}

.main_table{
    border-spacing: 5px;
    border-collapse: separate;
    text-align: center;
    margin: auto;
}

.main_table td{
    padding: 5px;
    background-color: none;
    width: 20%;
}

.main_table img{
    max-width: 150px;
}

.main_table td:hover{
    background-color: #EEEEEE;
    cursor: pointer;
}

.main_table .last{
    text-align:right;
}

.main_table .last:hover{
    background-color: #F9F9F9;
    cursor: default;
}

.view_all{
	cursor:pointer;
	border-bottom:1px dotted #317EAC;
	color:#317EAC;
}

.view_all_residential_complex{
	cursor:pointer;
	border-bottom:1px dotted #317EAC;
	color:#317EAC;
}

.view_all_rent_cottage{
	cursor:pointer;
	border-bottom:1px dotted #317EAC;
	color:#317EAC;
}

.view_all1{
	cursor:pointer;
	border-bottom:1px dotted #317EAC;
	color:#317EAC;
}

.view_all_apartment{
	cursor:pointer;
	border-bottom:1px dotted #317EAC;
	color:#317EAC;
}



.main_ads{
	border-spacing: 5px;
    border-collapse: separate;
    text-align: center;
    border-collapse: separate;
    margin: auto;
}


.main_ads td{
    padding: 5px;
}


.main_ads p{
    color: #FF8400;
    font-size: 12px;
}


.main_ads tr:hover{
    background-color: #eeeeee;
    cursor: pointer;
}

.main_ads .first{
    width: 25%;
}

.main_ads .second{
    width: 75%;
}

.main_ads tr{
    background-color: none;
}

.main_ads .last{
    text-align:right;
}

.last a{
    font-size:12px;
}

.main_ads .last:hover{
    background-color: #F9F9F9;
    cursor: default;
}

.pluso{
    margin-top: 20px;
}

.other_product{
	display:none;
}

.other_product1{
	display:none;
}

.other_product_rent_cottage{
	display:none;
}

.other_product_apartment{
	display:none;
}

#preview
{
color:#cc0000;
font-size:12px;
margin-top: 5px;
width: 1000px;
}
.divList 
{
max-height:130px;
margin-left:5px;
border:1px solid #dedede;
padding:4px;	
float:left;	
}
.imgList 
{
max-height:100px;
}

.divList_selling
{
max-height:130px;
margin-left:5px;
width-height: 130px;
border:1px solid #dedede;
padding:4px;	
float:left;	
}
.imgList_selling 
{
height:100px;
width:125px;
}

.imgList_files 
{
max-height:100px;
}

.delete
{
text-align:center;
text-decoration:underline;
cursor:pointer;
}

.delete_files
{
text-align:center;
text-decoration:underline;
cursor:pointer;
}

#file_preview
{
color:#cc0000;
font-size:12px;
margin-top: 5px;
width: 1000px;
}


.search{
	width: 100%;
	height: 100px;
	border:1px solid #CCCCCC;
	padding-right:-50px;
	border-radius:3px;
	background-repeat:repeat-x;
	background:url(../images/search1.png);
}


#expandsearch{
	width:150px;;
	margin: auto;
	border:1px solid #CCCCCC;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top:0px;
	padding:5px;
	margin-bottom: 10px;	
	cursor:pointer;
}

#expandsearch p{
	 margin-left:10px;
	 margin-bottom:0px; 
	 width: 120px; 
	 text-align:center; 
	 border-bottom:1px dotted #999999; 
	 font-size:11px;
}

#advanced_search{
	width: 100%;
	height: 200px;
	border:1px solid #CCCCCC;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	display:none;
	border-top:0px;
}

.settings{
	height:40px;
	border:1px solid #CCCCCC;
	border-radius:3px;
	background-repeat:repeat-x;
	background:url(../images/settings.png);
}

.grey, .grey a {
  color:#CCCCCC;
  height: 2px;
}





.info{
	width:100%;
	border:1px solid #E4E4E4;
	border-bottom:0px;
}


.date{
	text-align:center;
	width: 90px;
	font-family:"Times New Roman", Times, serif;
	font-weight:500px;
	font-size:15px;
}

.tdImgList{
	width: 135px;
}

.price{
	min-width:100px;
	font-size:18px;
	padding:15px;
	color:#009900;
	font-family:"Times New Roman", Times, serif;
	font-weight:bold;
}



.viewed{
	position: absolute; 
	bottom: 0;
	padding-left: 10px;
	color:#666666;
	font-size:11px;
	padding-bottom:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.name{
	padding-left:10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight: 600px;
}

.edit{
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:12px;
}

.edit a{
	color:#EA8C00;
	cursor:pointer;
}

.delete1{
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:12px;
}

.delete1 a{
	color:#DB0000;
	cursor:pointer;
}


.delete_phone{
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:12px;
	margin-left:10px;
}

.delete_phone a{
	color:#DB0000;
	cursor:pointer;
}


.edite_phone{
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:12px;
	margin-left:10px;
}

.edite_phone a{
	color:#EA8C00;
	cursor:pointer;
}


.name a{
	color:#003399;
}

.advanced_info{
	padding-left: 10px;
	color:#666666;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

.info_apartment{
	
	float:right;
	text-align:left;
}

#gallery{
	height: 200px;
	padding:2px;	
	margin-left:5px;
	border:1px solid #dedede;
	max-width: 450px;
}

#img_gallery{
	max-width:445px;
}

.div_Piece 
{
max-height:140px;
margin-left:3px;
margin-top:3px;
border:1px solid #dedede;
padding:1px;	
float:left;	
}

.img_piece{
	height:120px;
	width: 120px;
}

.ok{
	border:1px solid #cccccc;
}

.register_span{
	border-bottom:1px dotted #333333;
	cursor:pointer;
}

.popup{
	width:500px;
	margin-left:0px;
	background-color:white;
	position:absolute;
	z-index:3;
	border:1px solid black;}
 .popap2{
	 position:absolute;
	 height:100%;
	 width:100%;
	 background:#666;
	 opacity:0.5;
	 }
 
 .imageslide{
width:100%;
height:400px;
margin: 0 auto;
margin-bottom: 20px;
}

.imageslide .slider-content {
position: absolute;
width:100%;
height:400px;
}

.animate-enter,.animate-leave {
-webkit-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
-moz-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
-ms-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
-o-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
transition:1000ms cubic-bezier(.165,.84,.44,1) all;
}

.animate-enter {
left:100%;
}

.animate-leave.animate-leave-active {
left:-100%;
}

.animate-enter.animate-enter-active,.animate-leave {
left:0;
}